
.DS_Store
Products/*
LoginPageWithAppium.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
LoginPageWithAppium.xcodeproj/project.xcworkspace/xcuserdata/admin.xcuserdatad/UserInterfaceState.xcuserstate
LoginPageWithAppium/Preview Content/Preview Assets.xcassets/Contents.json
